<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.banyuan.mapper.book.BookMapper">

    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from book
        <where>
            <if test="name!=''">
                name like '%${name}%'
            </if>
        </where>
    </select>

    <select id="getList" resultType="com.banyuan.bean.book.BookBean">
        select *, t.name as typeName
        from book b
        left join type t on b.typeId = t.id
        <where>
            authorId = ?
            <if test="b.name!=''">
                and b.name like '%${name}%'
            </if>
        </where>
        limit ?,?
    </select>

    <select id="getById" resultType="com.banyuan.bean.book.BookBean">
        select *
        from book
        where id = #{id}
    </select>


    <insert id="insertBook">
        insert into book
        values (default, #{name}, #{authorId}, #{typeId}, #{introduce}, #{image}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateBook">
        update book
        set name=#{name},
            typeId=#{typeId},
            introduce=${introduce},
            image=#{image},
            updateTime=#{updateTime}
        where id = #{id}
          and authorId = #{authorId}
    </update>

    <delete id="deleteBook">
        delete from book where id=#{id}
    </delete>

</mapper>